@charset "UTF-8";
body {
	margin: 5px 0 0 0;
	padding: 0px;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 100%;
	background: #0a304e;
	color: #000000;
}
img {
    max-width: 100%;
    max-height: 100%;
	border:0px;
}
#container {
	width: 900px;
	margin: 0 auto;
	text-align: left;
	background: #ffffff;
}
#header {
	background: #ffffff;
	padding: 0 10px 15px 20px;
	color: #0a304e;
}
#header h1 {
	margin: 0px;
	padding: 10px 0;
	text-align: center;
}
#links, #contact {
	float: right;
	width: 180px;
	background: #ffffff;
	padding: 5px 10px;
	clear: right;
	margin-top: 5px;
	margin-right: 5px;
}
#links ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#links ul li {
	margin: 0px;
	padding: 0px;
}

#links li a:link,#links li a:visited {
	font-family: bold 0.9em/1.2em 'Titillium Web', sans-serif;
	color: #0a304e;
	text-decoration: underline;
	width: 180px;
	display: block;
	}
#links li a:hover,#links li a:active {
	color: #1E364E;
	text-decoration: underline;
    }

#mainContent {
	margin: 0 205px 0 0;
	padding: 0 20px;
	clear: left;
	color: #000000;
}
#footer {
	padding: 0 10px 0 20px;
	clear: both;
	background: #ffffff;
	color: #CCCC99;
	border-bottom: 1px solid;
}
#footer p {
	margin: 0;
	padding: 5px 0;
}
#navigation {
	background: #0a304e;
	padding: 0 10px 30px 30px;
	position: relative;
}
#navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
#navigation li {
	float: left;
	}
#navigation li a:link,#navigation li a:visited {
	display: block;
	background: #ffffff;
	padding: .2em .5em;
	font-family: 'Titillium Web', sans-serif;
	font: bold 1em/1.2em 'Titillium Web', sans-serif;
	text-decoration: none;
	color: #0a304e;
	margin-right: 0.5em;
	}
#navigation li a:hover,#navigation li a:active {
	color: #0a304e;
	background: #ffffff;
	text-decoration: underline;
    }
#navigation li a.current,#navigaion li a.current:hover,#navigaion li a.current:active {
	color: #0a304e;
	background: #ffffff;
	cursor: default;
       border-top: 1px solid;
    border-left: 1px solid;
           border-right: 1px solid;
}

#navigation li a.l1,#navigaion li a.l1:hover,#navigaion li a.l1:active {
	color: #0a304e;
	background: #ffffff;
	cursor: default;
	}

#links h1 {
	font-size: 1em;
	color: #0a304e;
	padding: 0px;
	margin: 0px;
}
#mainContent img {
    	margin-bottom: 5px;
}
#footer a:link,#footer a:visited {
	text-decoration: none;
	color: #0a304e;
	}
#footer a:hover,#footer a:active {
	color: #0a304e;
	text-decoration: underline;
    }
.clear, br {
	clear: both;
}
#contact p {
	margin: 0px;
	padding: 0px;
	color: #0a304e;
}
#address {
	color: #0a304e;
	font-size: 0.9em;
}
#mainContent h1 {
	color: #0a304e;
	font-size: 1.5em;
}
